video{float:right;
width:400px;
height:400px;
}

img{float:left;
width:200px;
height:150px;
}

body{background-image:url("ahs.jpg");
background-repeat:no-repeat;
background-size:100%;
}

h1{font-family:TimesNewRoman; 
color:blue; 
text-align:center;
}

audio{float:right;
}

p{font-family:BrushScriptMT; 
color:orange; 
font-size:15px;
font-weight: bold;
}

.p1{text-align:right;
}

.p2{color:blue;
}